[Unit]
Description=Access Control System GPIO Sensor Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/acs-gpio-actor
WorkingDirectory=/tmp
User=root
Group=root
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
