[Unit]
Description=Forward Space State to MQTT
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/acs-state2mqtt
WorkingDirectory=/tmp
User=root
Group=root
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
